[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32
[submodule "components/m5stickc"]
	path = components/m5stickc
	url = https://github.com/m5stack/m5stickc
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "main/bmm150"]
	path = main/bmm150
	url = https://github.com/BoschSensortec/BMM150-Sensor-API.git
[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX
